@keyframes mover1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}

@keyframes mover2 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}

@keyframes mover3 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateX(30px);
    }
}

@keyframes mover4 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateX(-30px);
    }
}

.accordion {
    --bs-accordion-bg: #ffffff !important;
}
.logoImageContainer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImage {
    width: 64px;
    height: 64px;
    transition: width 0.5s, height 0.5s;
}

.logoImage:hover {
    width: 58px;
    height: 58px;
}

.active {
    border-bottom: 2px solid white;
}

.responseHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .phone {
        margin-left: 0px;
        margin-right: 0px;
    }
    .phone {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 992px) {
    .content {
        margin: 100px 20px;
    }
    .phone {
        margin-left: -250px;
        margin-right: -250px;
    }
    .responseHeader {
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
    .content {
        margin: 300px auto;
    }
    .phone {
        margin-left: -350px;
        margin-right: -350px;
    }
}

.slick-next {
    right: 10px;
}
.slick-prev {
    display: none;
}
