@keyframes mover1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes mover2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

@keyframes mover3 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateX(30px);
  }
}

@keyframes mover4 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateX(-30px);
  }
}

.accordion {
  --bs-accordion-bg: #ffffff !important;
}
.logoImageContainer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImage {
  width: 64px;
  height: 64px;
  transition: width 0.5s, height 0.5s;
}

.logoImage:hover {
  width: 58px;
  height: 58px;
}
