@keyframes mover1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes mover2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}

@keyframes mover3 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateX(30px);
  }
}

@keyframes mover4 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateX(-30px);
  }
}

.accordion {
  --bs-accordion-bg: #ffffff !important;
}
